<div class="container loading success {{loaderCls}}">
  <div class="row">
    <div class="col-xs-12">
      <div class="cssload-container">
        <div class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
