<div class="col-sm-4 footer-column">
  <p>
    Copyright © 2020 <a href="http://todosconectados.org" target="_blank">Todos Conectados</a>
  </p>
  <p>
    Hecho con {{fa-icon 'heart'}} en México
  </p>
</div>
<div class="col-sm-4 footer-column">
</div>
<div class="col-sm-4 footer-column">
</div>
