<div class="page" title="Page 1" style="margin-top:3rem;">
  <div class="layoutArea">
    <div class="column">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 highlight-image">
            <img class="img-code" src="/assets/images/error_tc.png"
            alt="Cómo pagar">
          </div>
        </div>
        <div class="">
          <h1 class="margin-bottom-1 text-gray">Valida tu información e intenta nuevamente</h1>
        </div>
        <div class="text-center margin-top-2">
          <a class="btn btn-primary" href="#" role="button">CONFIRMAR</a>
        </div>
    </div>
  </div>
</div>
