<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header logo">
      <a href="{{homeUrl}}" class="navbar-brand">
        <img src="/assets/images/main-logo.png" alt="GurúComm" />
      </a>
    </div>
  </div>
</nav>
