<div class="page" title="Page 1" style="margin-top:2rem;">
  <div class="layoutArea">
    <div class="column">
      <p style="font-size: 1.6rem;">
        <b>
        AVISO DE PRIVACIDAD relacionado con los datos personales recabados por GURUWEB, S.A. DE C.V. (en adelante denominada como “GURÚCOMM”)
      </b>
      </p>
      <p style="font-size: 1.6rem; margin-top:2rem;">
        <b>1.- Generales</b>
      </p>
      <p>
        <b>1.1.- GURÚCOMM</b> ES UNA  SOCIEDAD COMPROMETIDA Y RESPETUOSA DE LOS DERECHOS SOBRE
        LOS DATOS PERSONALES DE LAS PERSONAS FÍSICAS, RECONOCIDOS EN EL ARTÍCULO 16 FRACCIÓN
        II DE LA CONSTITUCIÓN POLÍTICA DE LOS ESTADOS UNIDOS MEXICANOS, ASÍ COMO DE LAS
        DISPOSICIONES DE LA LEY FEDERAL DE PROTECCIÓN DE DATOS PERSONALES EN POSESIÓN DE
        LOS PARTICULARES, SU REGLAMENTO Y LA DEMÁS NORMATIVA APLICABLE. POR LO ANTERIOR,
        PONE A SU DISPOSICIÓN EL PRESENTE AVISO DE PRIVACIDAD, EN ARAS DE QUE EL TITULAR
        DE LOS DATOS PERSONALES, SE ENCUENTRE FACULTADO A EJERCITAR SU DERECHO A LA
        AUTODETERMINACIÓN INFORMATIVA.
      </p>
      <p>
        <b>1.2.-</b> AL INGRESAR Y UTILIZAR LA PÁGINA DE INTERNET, CUYO NOMBRE DE DOMINIO ES
        <a target="_blank" href="https://gurucomm.mx/aviso-de-privacidad">gurucomm.mx/aviso-de-privacidad</a>
        EN LA SECCIÓN CORRESPONDIENTE  A “AVISO DE PRIVACIDAD”, EN ADELANTE DENOMINADA COMO “LA PÁGINA DE INTERNET”,
        PROPIEDAD DE <b>GURÚCOMM</b>, USTED (EL TITULAR) DECLARA QUE ESTÁ ENTENDIENDO Y ACEPTANDO LOS TÉRMINOS Y LAS
        CONDICIONES CONTENIDOS EN ESTE AVISO Y DECLARA Y OTORGA EXPRESAMENTE SU ACEPTACIÓN Y CONSENTIMIENTO
        UTILIZANDO PARA TAL EFECTO MEDIOS ELECTRÓNICOS, EN TÉRMINOS DE LO DISPUESTO POR EL ARTÍCULO 1803 DEL
        CÓDIGO CIVIL FEDERAL.</p>
      <p>
        <b>1.3.-</b> SI EL TITULAR NO ACEPTA EN FORMA ABSOLUTA Y COMPLETA LOS TÉRMINOS Y CONDICIONES
        DE ESTE AVISO, DEBERÁ ABSTENERSE DE COMPARTIR CUALQUIER TIPO DE INFORMACIÓN A <b>GURÚCOMM</b>
        POR CUALQUIER MEDIO INCLUYENDO SU PÁGINA DE INTERNET.
      </p>
      <p>
        <b>1.4.-</b> PARA EL CASO QUE EL TITULAR CONTINÚE EN EL USO DE LA PÁGINA DE INTERNET DE <b>GURÚCOMM</b>,
        SEA EN FORMA TOTAL O PARCIAL, DICHA ACCIÓN SE CONSIDERARÁ COMO SU ABSOLUTA Y EXPRESA
        ACEPTACIÓN A LOS TÉRMINOS Y CONDICIONES AQUÍ ESTIPULADOS.
      </p>
      <p>
        <b>1.5.-</b>LA SOLA UTILIZACIÓN DE LA PÁGINA DE INTERNET DE <b>GURÚCOMM</b> LE OTORGA AL PÚBLICO
        TITULAR LA CALIDAD DE TITULAR (EN ADELANTE REFERIDO COMO EL "TITULAR" O LOS "TITULARES")
        E IMPLICA LA ACEPTACIÓN, PLENA E INCONDICIONAL, DE TODAS Y CADA UNA DE LAS CONDICIONES GENERALES
        Y PARTICULARES INCLUIDAS EN ESTE AVISO DE PRIVACIDAD EN LA VERSIÓN PUBLICADA POR <b>GURÚCOMM</b>,
        EN EL MOMENTO MISMO EN QUE EL TITULAR ACCEDA A LA MENCIONADA PÁGINA. <br><br>
        LAS PARTES DECLARAN QUE, AL NO EXISTIR, ERROR, DOLO, MALA FE O CUALQUIER OTRO VICIO DE LA VOLUNTAD
        QUE PUDIERA NULIFICAR LA VALIDEZ DEL PRESENTE INSTRUMENTO, AMBAS ACUERDAN EN SUJETARSE AL TENOR
        DE LO ESTIPULADO EN LOS SIGUIENTES:
      </p>
      <p style="font-size: 1.6rem; margin-top:2rem;">
        <b>2. Definiciones</b>
      </p>
      <p>
        <b>2.1.- Datos personales.-</b>
        Cualquier información concerniente a una persona física identificada o identificable.
      </p>
      <p>
        <b>2.2.- Datos personales sensibles.-</b> Aquellos datos personales que afecten la esfera más
        íntima de su titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve
        un riesgo grave para éste. En particular, se consideran sensibles aquellos datos personales que
        puedan revelar aspectos como origen racial o étnico, estado de salud presente y futuro,
        información genética, creencias religiosas, filosóficas y morales, afiliación sindical,
        opiniones políticas, preferencia sexual.
      </p>
      <p>
        <b>2.3.- Titular.-</b> La persona física (TITULAR)  a quien identifican o corresponden los datos personales.
      </p>
      <p>
        <b>2.4.- Responsable.-</b> Persona física o moral (<b>GURÚCOMM</b>) de carácter privado que
        decide sobre el tratamiento de los datos personales.
      </p>
      <p>
        <b>2.5.- Encargado.-</b> La persona física o moral  que sola o conjuntamente con
        otras trate datos personales por cuenta del responsable.
      </p>
      <p>
        <b>2.6.- Tratamiento.-</b>
        La obtención, uso (que incluye el acceso, manejo, aprovechamiento, transferencia
        o disposición de datos personales), divulgación o almacenamiento de datos
        personales por cualquier medio.
        <ul style="list-style:none;">
          <li>
            <b>2.6.1.- Transferencia.-</b> Toda comunicación de datos realizada a persona
            distinta del  responsable o encargado del tratamiento.
          </li>
          <li>
            <b>2.6.2.- Remisión.-</b> La comunicación de datos personales entre el responsable
            y el encargado, dentro o fuera del territorio mexicano.
          </li>
        </ul>
      </p>
      <p>
        <b>2.7.- Tercero.-</b> La persona física o moral, nacional o extranjera, distinta
        de EL TITULAR o del responsable de los datos.
      </p>
      <p>
        <b>2.8.-  Derechos ARCO.-</b> Derechos de Acceso, Rectificación, Cancelación y Oposición.
      </p>
      <p>
        <b>2.9.- Consentimiento Tácito.-</b> Se entenderá que EL TITULAR ha consentido en el
        tratamiento de los datos, cuando habiéndose puesto a su disposición el Aviso
        de Privacidad, no manifieste su oposición.
      </p>
      <p>
        <b>2.10.- Finalidades Primarias.-</b>
        Aquellas finalidades para las cuales se solicitan principalmente los datos personales
        y por lo que se da origen a la relación entre <b>GURÚCOMM</b> y EL TITULAR.
      </p>
      <p>
        <b>2.11.- Finalidades Secundarias.-</b> Aquellas finalidades que no son
        imprescindibles para la relación entre <b>GURÚCOMM</b> y EL TITULAR, pero que con su
        tratamiento contribuye al cumplimiento del objeto social de <b>GURÚCOMM</b>.
      </p>
      <p style="font-size: 1.6rem; margin-top:2rem;">
        <b>3. Identidad y domicilio del responsable que recaba los datos personales</b>
      </p>
      <p>
        <b>3.1.-</b> El responsable de la obtención de los datos personales es <b>GURÚCOMM, S.A.P.I. DE C.V.</b>
        (en adelante denominada como “<b>GURÚCOMM</b>”), quien se compromete a respetar lo establecido en el presente
        Aviso de Privacidad (en lo sucesivo el “Aviso”), mismo que está puesto a su disposición en cumplimiento
        a lo establecido en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares
        (en lo sucesivo la “Ley” o “LFPDPPP” indistintamente) y, es aplicable respecto a los datos personales
        de las personas físicas tales como candidatos, empleados, clientes y/o prospectos de clientes, proveedores
        y/o prospectos de proveedores, distribuidores, visitantes a las oficinas físicas y/o instalaciones
        de <b>GURÚCOMM</b> así como de los usuarios de la PÁGINA DE INTERNET DE <b>GURÚCOMM</b>, que <b>GURÚCOMM</b> obtiene con
        motivo de las actividades de desarrollo de negocios digitales y de la prestación de servicios de
        comunicaciones que realiza, mismos que se encuentran dirigidos a público mexicano.
      </p>
      <p>
        <b>3.2.-</b> El domicilio que para los efectos del presente aviso establece <b>GURÚCOMM</b> es el ubicado
        en calle Blvd. Bernardo Quintana No. 300, colonia Centro Sur, Querétaro, C.P. 76090, Querétaro, Qro.
      </p>
      <p style="font-size: 1.6rem; margin-top:2rem;">
        <b>4.- Datos personales que se recaban</b>
      </p>
      <p>
        <b>4.1.-</b> EL TITULAR reconoce y acepta que <b>GURÚCOMM</b> podrá obtener directamente y/o a
        través de encargados, los siguientes datos personales, atendiendo a la relación con cada TITULAR:
      </p>
      <p>
        <i><b>4.1.1.-</b> Candidatos: Generales: nombre completo, fecha y lugar de nacimiento, profesión, identificación oficial
        con fotografía, domicilio (calle, número exterior e interior, colonia, código postal, delegación o municipio),
        teléfono fijo y/o móvil, correo electrónico, número de seguridad social, RFC, CURP. Académicos: nivel de estudios,
        escuela, período de estudios, títulos obtenidos, cursos de actualización y/o capacitación. Datos familiares:
        nombres, edad, escolaridad, teléfono y ocupación de padres, hermanos, hijos y cónyuge. Experiencia profesional:
        nombre de la empresa, tiempo que prestó sus servicios, dirección, teléfono, puesto desempeñado, motivo de separación,
        nombre de su jefe directo. Referencias personales y laborales (respecto de las cuales el TITULAR cuenta
        con el consentimiento para compartirlos con <b>GURÚCOMM</b>): nombre, domicilio, teléfono, ocupación, tiempo
        de conocerlo. Documentación en copia: curriculum vitae, identificación oficial con fotografía, acta de
        nacimiento, cedula de RFC, cédula de CURP, comprobante de domicilio, número de seguro social, comprobante de estudios.</i>
      </p>
      <p>
        <i><b>4.1.2.-</b> Trabajadores: Generales: nombre completo, fecha y lugar de nacimiento, edad, sexo,
          nacionalidad, estado civil, profesión, identificación oficial con fotografía, imagen o fotografía,
          huella digital, iris, voz, firma, domicilio (calle, número exterior e interior, colonia, código postal,
          delegación o municipio), teléfono fijo y/o móvil, correo electrónico, número de seguridad social, RFC,
          CURP. Académicos: nivel de estudios, escuela y/o institución, títulos obtenidos. Datos familiares:
          nombres, edad, escolaridad, teléfono y ocupación de padres, hermanos, hijos y cónyuge, datos de
          contacto en caso de emergencia. Datos económicos: datos de cuentas bancarias (número de cuenta,
          CLABE, banco). Experiencia profesional: nombre de la empresa, tiempo que prestó sus servicios,
          dirección, teléfono, puesto desempeñado, motivo de separación, nombre de su jefe directo.
          Referencias personales y laborales (respecto de las cuales el TITULAR cuenta con el consentimiento
          para compartirlos con <b>GURÚCOMM</b>): nombre, domicilio, teléfono, ocupación, empresa para la que labora.
          Documentación en copia: curriculum vitae, identificación oficial con fotografía, cédula de RFC,
          cédula de CURP, número de seguro social, acta de nacimiento, comprobante de domicilio, comprobante de estudios,
          cédula profesional, carátula bancaria.</i>
      </p>
      <p>
        <i><b>4.1.3.- </b>Clientes y/o Prospectos de clientes: Nombre completo, nacionalidad, fecha y
          lugar de nacimiento, edad, sexo, profesión, identificación oficial con fotografía, voz, firma,
          domicilio (calle, número, colonia, ciudad, estado, delegación o municipio, código postal), teléfono
          fijo y/o móvil, correo electrónico, RFC, datos de tarjeta de crédito, datos bancarios (número de
          cuenta, CLABE, banco), nombre del representante legal de la empresa, acta constitutiva de la empresa,
          poder legal del representante inscrito en el Registro Público de la Propiedad y Comercio, datos
          y domicilio de facturación (calle, número, colonia, ciudad, estado, delegación o municipio, código
          postal). Datos personales de terceros: a través del uso de las herramientas ofrecidas por <b>GURÚCOMM</b>,
          el TITULAR-Cliente podrá grabar las conversaciones mantenidas con terceros, en cuyo caso el
          TITULAR-Cliente manifiesta bajo protesta de decir verdad, que cuenta con el consentimiento de
          dichos terceros para compartirlos con <b>GURÚCOMM</b>. Documentación en copia: identificación oficial
          con fotografía, acta constitutiva de la empresa, poder del representante legal inscrito en el
          Registro Público de la Propiedad y Comercio, cédula de RFC, comprobante de domicilio, carátula bancaria.</i>
        </p>
        <p>
          <i><b>4.1.4.-</b> Proveedores, Prospectos de proveedores y Prestadores de servicios: Nombre
            completo, fecha y lugar de nacimiento, edad, sexo, nacionalidad, profesión, identificación oficial
            con fotografía, imagen o fotografía, firma, domicilio (calle, número, colonia, ciudad, estado,
            delegación o municipio, código postal), teléfono fijo y/o móvil, correo electrónico, CURP, RFC,
            nombre del representante legal, acta constitutiva de la empresa, datos y domicilio de facturación
            (calle, número, colonia, ciudad, estado, delegación o municipio, código postal), datos
            bancarios (nombre del banco, cuenta y cuenta CLABE, SWIFT, ABBA, en caso de transferencias
            internacionales). Documentación en copia: identificación oficial con fotografía, cédula de
            identificación fiscal, cédula de RFC, comprobante de domicilio, acta constitutiva de la empresa,
            poder legal del representante inscrito en el Registro Público de la Propiedad y Comercio.</i>
        </p>
        <p>
          <i><b>4.1.5.-</b> Distribuidores: Nombre completo, fecha y lugar de nacimiento, edad, sexo,
            nacionalidad, profesión, identificación oficial con fotografía, imagen o fotografía,
            domicilio (calle, número, colonia, ciudad, estado, delegación o municipio, código postal),
            teléfono fijo y/o móvil, correo electrónico, CURP, RFC, datos bancarios (nombre del banco,
            cuenta y cuenta CLABE, SWIFT, ABBA, en caso de transferencias internacionales), datos fiscales,
            estado de cuenta. Documentación en copia: identificación oficial con fotografía,
            cédula de identificación fiscal, cédula de RFC, cédula de CURP, comprobante de domicilio,
            carátula bancaria.</i>
        </p>
        <p>
          <i><b>4.1.6.-</b> Visitantes a las oficinas físicas y/o instalaciones de <b>GURÚCOMM</b>:
            Nombre completo, fecha y lugar de nacimiento, edad, sexo, nacionalidad, profesión,
            identificación oficial con fotografía, imagen o fotografía, domicilio (calle, número,
            colonia, ciudad, estado, delegación o municipio, código postal), teléfono fijo y/o móvil,
            correo electrónico, RFC, CURP. Documentación en copia: Identificación oficial con
            fotografía, cédula de identificación fiscal, cédula de RFC, cédula de CURP.</i>
        </p>
        <p>
          <i><b>4.1.7.-</b> USUARIO DE LA PÁGINA DE INTERNET DE <b>GURÚCOMM</b>: Nombre completo,
            fecha y lugar de nacimiento, edad, sexo, nacionalidad, profesión, domicilio (calle,
            número, colonia, ciudad, estado, delegación o municipio, código postal), teléfono
            fijo y/o móvil, correo electrónico, RFC, nombre de usuario de redes sociales en
            las que participa, datos de tarjeta de crédito, datos bancarios (nombre del banco,
            cuenta y cuenta CLABE, SWIFT, ABBA, en caso de transferencias internacionales),
            datos fiscales. Documentación en copia: identificación oficial con fotografía,
            cédula de identificación fiscal, cédula de RFC, cédula de CURP, comprobante de
            domicilio, carátula bancaria.</i>
        </p>
        <p>
          <b>4.2.-</b> EL TITULAR en este acto, otorga su consentimiento expreso en términos
          del artículo 8 de la LFPDPPP, para que <b>GURÚCOMM</b>, trate sus datos personales, incluidos
          los denominados datos personales financieros y/o patrimoniales contenidos en ésta
          cláusula, para cumplir con las finalidades que establece el presente Aviso de Privacidad.
        </p>
        <p>
          <b>4.3.- GURÚCOMM</b> manifiesta que no dará tratamiento a datos personales
          sensibles de EL TITULAR de ningún tipo.
        </p>
        <p>
          <b>4.4.-</b> Asimismo, <b>GURÚCOMM</b> manifiesta que no dará tratamiento a
          datos personales de menores de edad, conforme a la normativa mexicana aplicable.
        </p>
        <p>
          <b>4.5.-</b> EL TITULAR en este acto, bajo protesta de decir verdad, acepta que
          los datos que ha proporcionado a <b>GURÚCOMM</b>, son veraces, actuales y correctos.
          Además, se compromete a sacar en paz y a salvo a <b>GURÚCOMM</b> de cualquier demanda o
          reclamación, derivada de los errores en los datos que le haya entregado.
        </p>
        <p>
          <b>4.6.- GURÚCOMM</b> manifiesta que podrá obtener los datos personales de EL
          TITULAR mediante las denominadas fuentes de acceso público, a efecto de validar
          y actualizar los datos de EL TITULAR, respetando en todo momento la expectativa
          razonable de privacidad, a que se refiere el artículo 7 de la LFPDPPP.
        </p>
        <p>
          <b>4.7.- GURÚCOMM</b> usará información IP (Protocolo de Internet, por sus
          siglas en inglés Internet Protocol) para analizar cualquier tipo de amenazas
          a <b>LA PÁGINA DE INTERNET DE GURÚCOMM</b>, así como para recabar información demográfica.
          Sin embargo, la información IP, en ningún caso será utilizada para identificar
          a LOS TITULARES, excepto cuando haya probabilidades de actividad fraudulenta.
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>5.- Finalidades del tratamiento de los datos personales</b>
        </p>
        <p>
          <b>5.1.- GURÚCOMM</b> acepta y reconoce que podrá tratar los datos personales
          de EL TITULAR, directamente y/o a través de encargados, de conformidad al tipo
          de relación que tiene con EL TITULAR, para las siguientes finalidades primarias:
        </p>
        <p>
          <b>5.1.1.-</b> EL TITULAR –Candidato:
        </p>
        <p>
          a) Ponerse en contacto con EL TITULAR- Candidato, vía correo electrónico,
          teléfono fijo o móvil, por redes sociales, Skype u otra plataforma de
          mensajería electrónica o por cualquier otro medio, a efecto de dar seguimiento
          y evaluar la experiencia y, estudios de EL TITULAR- Candidato, para conocer
          la viabilidad de ser seleccionado y las posibilidades de éxito del mismo
          en el puesto que pretende desempeñar.<br><br>
          b) Conocer la experiencia laboral de EL TITULAR- Candidato así como sus
          competencias para el puesto que está intentando cubrir.<br><br>
          c) Realizar un expediente en formato físico y electrónico de EL TITULAR-Candidato
          que será resguardado en el domicilio de <b>GURÚCOMM</b>, hasta por 1-un año, en
          caso de no ser seleccionado para el puesto que pretende desempeñar.<br><br>
          d) Para realizar los trámites de selección y administración de personal
          en las instituciones gubernamentales que se requiera.<br><br>
          e) Realizar investigación y estudios socio-económicos para verificar
          la información proporcionada por EL TITULAR-Candidato.<br><br>
          f) Para contactar a las personas que EL TITULAR- Candidato haya
          indicado como referencias personales y/o laborales.
        </p>
        <p>
          <b>5.1.2.-</b> EL TITULAR –Trabajador:<br><br>
          a) Realizar un expediente físico y electrónico de EL TITULAR-Trabajador que será
          conservado en el domicilio de <b>GURÚCOMM</b>, durante toda la vigencia de la relación
          laboral y hasta por 10-diez años posteriores a finalizada la misma.<br><br>
          b) Realizar los trámites necesarios para obtener la tarjeta de débito, para el
          depósito del salario y/o comisiones y demás prestaciones generadas a favor
          de EL TITULAR-Trabajador.<br><br>
          c)  Llevar a cabo el control de asistencias y horarios de entrada y salida
          de EL TITULAR-Trabajador al lugar de trabajo de <b>GURÚCOMM</b>.<br><br>
          d) Elaboración de cartas o contratos de asignación de herramientas de trabajo
          que requiera EL TITULAR-Trabajador para la ejecución de sus actividades laborales.<br><br>
          e) Realizar los trámites necesarios de alta, baja o modificaciones al registro
          de EL TITULAR-Trabajador ante el Instituto Mexicano del Seguro Social y/o las
          instituciones gubernamentales que se requiera.<br><br>
          f) Llevar a cabo el proceso de pago de salario y de prestaciones de EL
          TITULAR-Trabajador, así como descuentos de pensiones alimenticias
          requeridas por mandato judicial.<br><br>
          g) Tramitar el seguro de vida y tarjeta de vales de despensa.<br><br>
          h) Grabar y almacenar en diferentes bases de datos la imagen de los
          TITULARES-Trabajadores, con la finalidad de mantener el control de las entradas
          y salidas de los trabajadores que desempeñan sus funciones en <b>GURÚCOMM</b>,
          lo cual forma parte de las medidas de seguridad adoptadas al interior del mismo.<br><br>
          i) Para grabar la voz de EL TITULAR-Trabajador con la finalidad de ofrecer los
          productos y/o servicios comercializados por <b>GURÚCOMM</b> así como para prestar
          los servicios de soporte técnico ofrecidos por <b>GURÚCOMM</b>.<br><br>
          j) Para monitorear el servicio ofrecido por EL TITULAR-Trabajador y asegurarse
          que el mismo cumple con las políticas de <b>GURÚCOMM</b>.<br><br>
          k) Para realizar la transcripción de las llamadas realizadas por
          EL TITULAR-Trabajador con EL TITULAR-Cliente, desde audio a texto,
          a través de sistemas de software de reconocimiento.<br><br>
          l) Para proporcionar y mejorar los servicios de reconocimiento de voz ofrecidos por <b>GURÚCOMM</b>.<br><br>
          m) Para almacenar y usar textos de entrada procesados por el servicio
          únicamente para suministrar y mantener el servicio, y para mejorar la calidad
          de los servicios ofrecidos por <b>GURÚCOMM</b> y otras tecnologías de aprendizaje automático.<br><br>
          n) Para que el equipo de soporte de <b>GURÚCOMM</b> pueda acceder a la cuenta y/o
          panel de control de EL TITULAR-Cliente para brindarle soporte técnico
          modificar y apoyarlo con la configuración del servicio, siempre que <b>GURÚCOMM</b>
          cuente con el consentimiento expreso de EL TITULAR-Cliente a través
          de cualquier medio.
        </p>
        <p>
          <b>5.1.3.-</b> EL TITULAR–Cliente y/o Prospecto de Cliente:<br><br>
          a) Contactarlo vía telefónica, por correo electrónico, por redes sociales o por cualquier otro medio,
          para atender y dar seguimiento a las solicitudes de productos y/o servicios.<br><br>
          b) Dar tratamiento a los datos personales patrimoniales y/o financieros de EL
          TITULAR-Cliente para brindar los productos y/o servicios que comercializa <b>GURÚCOMM</b>.<br><br>
          c) Para brindar a EL TITULAR-Cliente los productos y/o servicios que <b>GURÚCOMM</b>
          comercializa, conforme a las solicitudes formuladas a través de cualquier medio,
          para que EL TITULAR-Cliente pueda beneficiarse de los productos y/o servicios requeridos.<br><br>
          d) Contactar al TITULAR-Cliente por cualquier medio, a fin de realizar aclaraciones
          y seguimiento sobre pagos o cualquier otra situación derivada de los productos y/o
          servicios proporcionados por <b>GURÚCOMM</b>, tales como quejas o comentarios sobre los mismos.<br><br>
          e) Registrarlos y actualizar los datos en el sistema de administración
          empresarial interno, en los software internos, plataformas y portales utilizados
          por <b>GURÚCOMM</b> para el acceso a los datos personales por las personas autorizadas para ello.<br><br>
          f) Contactar a EL TITULAR-Cliente para llevar a cabo la gestión de cobranzas
          y adeudos; en su caso, contactar a las personas que EL TITULAR-Cliente haya
          autorizado como contactos de pago.<br><br>
          g) Realizar y almacenar un expediente físico y/o electrónico de EL TITULAR-Cliente
          durante el tiempo que dure la relación comercial y por hasta 10-diez años
          posteriores a la terminación de la relación comercial.<br><br>
          h) Elaboración de facturación electrónica y notas de crédito derivadas
          de los productos o servicios que comercializa <b>GURÚCOMM</b>. Dichas facturas,
          tanto en formato físico como electrónico y las notas de crédito, serán
          conservadas por <b>GURÚCOMM</b> durante el plazo de vigencia de las relaciones
          comerciales, y por 10-diez años posteriores a finalizadas las mismas.<br><br>
          i) Coordinar juntas con EL TITULAR-Cliente vía telefónica, por correo electrónico,
          redes sociales, Skype o a través de cualquier otro medio, ya sea en soporte físico o digital.
          j) Generar un registro en las bases de datos de clientes de <b>GURÚCOMM</b>
          que serán conservados por 10-diez años.<br><br>
          k) Realizar transacciones con instituciones de crédito que resulten
          con motivo de las operaciones comerciales.<br><br>
          l) Para solicitar referencias en el Buró de Crédito.<br><br>
          m) En caso de ser foráneo EL TITULAR-Cliente, realizar los trámites necesarios
          para el envío de los productos o entrega de servicios que comercializa <b>GURÚCOMM</b>.<br><br>
          n) Realizar trámites ante las autoridades gubernamentales.<br><br>
          o) Realizar los trámites necesarios para otorgar líneas de crédito.<br><br>
          p) Para grabar la voz de EL TITULAR-Cliente y/o de los terceros
          con quienes se comunique EL TITULAR-Cliente con la finalidad de ofrecer
          los productos y/o servicios comercializados por <b>GURÚCOMM</b> así como evaluar
          la calidad de los servicios y/o productos ofrecidos por <b>GURÚCOMM</b>.<br><br>
          q) Para realizar la transcripción de las llamadas realizadas por
          EL TITULAR-Cliente, desde audio a texto, a través de sistemas de
          software de reconocimiento.<br><br>
          r) Asimismo, los datos de voz de EL TITULAR-Cliente serán utilizados
          por <b>GURÚCOMM</b> para proporcionar y mejorar los servicios de reconocimiento
          de voz y facilitar el acceso al historial de conversaciones de EL
          TITULAR-Cliente, así como para la detección de sentimientos negativos o
          positivos que se generan a través de las interacciones de EL
          TITULAR-Cliente en su línea de <b>GURÚCOMM</b>.<br><br>
          s) Para monitorear el servicio ofrecido por <b>GURÚCOMM</b> y asegurarse que
          EL TITULAR-Cliente cumpla con el uso razonable del servicio.<br><br>
          t) Para almacenar y usar textos de entrada procesados por el servicio
          únicamente para suministrar y mantener el servicio, y para mejorar la
          calidad de los servicios ofrecidos por <b>GURÚCOMM</b> y otras tecnologías de
          aprendizaje automático.<br><br>
          u) Para que el equipo de soporte de <b>GURÚCOMM</b> pueda acceder a la cuenta
          y/o panel de control de EL TITULAR-Cliente para brindarle soporte técnico
          y apoyarlo con la configuración del servicio, siempre que <b>GURÚCOMM</b> cuente
          con el consentimiento expreso de EL TITULAR-Cliente a través de cualquier medio.
        </p>
        <p>
          <b>5.1.4.-</b> EL TITULAR- Proveedor, Prospecto de Proveedor y/o Prestador de Servicios:<br><br>
          a) Contactar al TITULAR- Proveedor vía telefónica, por correo electrónico o por
          cualquier otro medio, a fin de realizar aclaraciones y seguimiento solicitudes de
          servicios y/o productos, sobre pagos o cualquier otra situación derivada de los
          productos o servicios otorgados a <b>GURÚCOMM</b>.<br><br>
          b) Dar de alta en el perfil de Proveedor en el sistema de administración interna
          para el acceso por parte del personal autorizado para ello, que serán conservados
          durante el tiempo que dure la relación comercial y por 10-diez años posteriores.<br><br>
          c) Contactar a EL TITULAR- Proveedor por cualquier medio, a fin de realizar
          aclaraciones y seguimiento sobre pagos o cualquier otra situación derivada
          de los productos y/o servicios que requiere <b>GURÚCOMM</b>.<br><br>
          d) Conservar por un período de hasta 10-diez años desde que son generadas,
          las facturas electrónicas y notas de crédito, en formato físico como electrónico,
          derivadas de los productos y/o servicios que requiere <b>GURÚCOMM</b>.<br><br>
          e) Conservar por un período de hasta 10-diez años los contratos que
          celebra <b>GURÚCOMM</b> con sus proveedores, tanto en formato físico como electrónico,
          una vez que los mismos hayan finalizado.<br><br>
          f) Realizar transferencias bancarias con motivo de las solicitudes
          de productos y/o servicios que realice <b>GURÚCOMM</b>.<br><br>
          g) Llevar un expediente físico y/o electrónico del Proveedor durante el
          tiempo que dure la relación comercial y por 10-diez años posteriores a
          su terminación por cualquier causa.<br><br>
          h) Registrarlos en su sistema contable para el acceso a los datos personales
          por las personas autorizadas para ello.
        </p>
        <p>
          <b>5.1.5.-</b> EL TITULAR –Distribuidor: <br><br>
          a) Contactar a EL TITULAR-Distribuidor vía telefónica, por correo electrónico o
          por cualquier otro medio, a fin de realizar aclaraciones y seguimiento solicitudes
          de servicios y/o productos.<br><br>
          b) Dar tratamiento a los datos personales patrimoniales y/o financieros de
          EL TITULAR-Distribuidor para brindar los productos y/o servicios que comercializa <b>GURÚCOMM</b>.<br><br>
          c) Contactar a EL TITULAR- Distribuidor por cualquier medio, a fin de realizar
          aclaraciones y seguimiento sobre pagos o cualquier otra situación derivada de
          los productos y/o servicios que requiere <b>GURÚCOMM</b>.<br><br>
          d) Registrarlos y actualizar anualmente los datos en los software internos,
          plataformas y/o portales de <b>GURÚCOMM</b>, para el acceso a los datos personales
          de las personas autorizadas para ello.<br><br>
          e) Realizar y almacenar un expediente físico y/o electrónico del
          Distribuidor durante el tiempo que dure la relación comercial y
          por 10-diez años posteriores a su terminación por cualquier causa.<br><br>
          f) Elaboración de facturación electrónica y notas de crédito derivadas
          de los productos y/o servicios que comercializa <b>GURÚCOMM</b>.<br><br>
          g) Realizar transacciones con instituciones de crédito que
          resulten con motivo de las operaciones comerciales.<br><br>
          h) Realizar los trámites necesarios para otorgar líneas de crédito, tales
          como solicitar referencias en el Buró de Crédito, corroborar referencias
          bancarias y comerciales.<br><br>
          i) Utilizar servicios en la nube a efecto de hacer eficientes los procesos
          internos de <b>GURÚCOMM</b>.<br><br>
          j) Generar un registro en las bases de datos de Distribuidores de <b>GURÚCOMM</b>
          que serán conservados por 10-diez años.<br><br>
          k) Emisión de facturación electrónica y notas de crédito derivadas de los
          productos o servicios que comercializa <b>GURÚCOMM</b>. Dichas facturas,
          tanto en formato físico como electrónico y las notas de crédito, serán
          conservadas <b>GURÚCOMM</b> el plazo de vigencia de las relaciones comerciales,
          y por 10-diez años posteriores a finalizadas las mismas.
        </p>
        <p>
          <b>5.1.6.-</b> EL TITULAR –Visitante a las oficinas físicas y/o instalaciones de <b>GURÚCOMM</b>:
        </p>
        <p>
          a) Almacenar en diferentes bases de datos la imagen de los visitantes al domicilio
          físico de <b>GURÚCOMM</b>, con la finalidad de mantener el control de las entradas y salidas
          de quienes visitan sus instalaciones, y forma parte de las medidas de seguridad
          adoptadas al interior del mismo. Las imágenes almacenadas a través de los sistemas
          de videovigilancia así como los demás datos personales de identificación de
          EL TITULAR-Visitante serán conservadas por un período no mayor a un año, a
          partir de la fecha de su captura.
        </p>
        <p>
          <b>5.1.7.-</b> EL TITULAR–Usuario de la PÁGINA DE INTERNET DE <b>GURÚCOMM</b>:<br><br>
          a) Contactar vía telefónica, por correo electrónico o por cualquier otro medio a
          EL TITULAR-Usuario, para atender y dar seguimiento a sus comentarios o solicitudes
          realizadas a través de la PÁGINA DE INTERNET DE <b>GURÚCOMM</b>.<br><br>
          b) Para acceder a las redes sociales en las que participa <b>GURÚCOMM</b>.<br><br>
          c) Enviar información y promociones, previa solicitud que haya realizado EL
          TITULAR-Usuario a través del formulario disponible en la PÁGINA DE INTERNET
          DE <b>GURÚCOMM</b> bajo la pestaña “Contacto”.<br><br>
          d) Almacenar en diferentes bases de datos, en formato físico o electrónico,
          la información de EL TITULAR-Usuario; dichos registros serán almacenados
          por un término de un año contado a partir de su obtención, siempre que
          no se concreten operaciones comerciales con <b>GURÚCOMM</b>.<br><br>
        </p>
        <p>
          <b>5.1.8.- GURÚCOMM</b> podrá tratar los datos personales de EL TITULAR
          para las siguientes finalidades secundarias:<br><br>
          a) Para el caso de EL TITULAR-Cliente, evaluar la calidad de los servicios
          y/o productos ofrecidos, así como la calidad de atención a sus comentarios
          o solicitudes.<br><br>
          b) Realizar estudios internos sobre hábitos de consumo.<br><br>
          c) Para proporcionarle comunicaciones adicionales, información y promociones,
          tales como boletines informativos e invitaciones a eventos.<br><br>
          d) Informar vía correo electrónico sobre cambios o nuevos productos o
          servicios que estén relacionados con el solicitado por EL TITULAR.<br><br>
          e) Generar informes internos sobre la utilización de la PÁGINA DE INTERNET DE <b>GURÚCOMM</b>.<br><br>
          f) Envíos masivos de mail marketing.<br><br>
          g) Para contactar a EL TITULAR-Usuario a fin de informarle de actualizaciones
          la PÁGINA DE INTERNET DE <b>GURÚCOMM</b>, mensajes informativos y relativos a servicios,
          incluyendo actualizaciones de seguridad importantes.<br><br>
          h) Para mencionar a EL TITULAR-Cliente con ese carácter en el perfil
          corporativo y en PÁGINA DE INTERNET DE <b>GURÚCOMM</b>.<br><br>
          i) Para informarles y/o invitarlos a participar de cursos, capacitaciones
          y/o eventos organizados por <b>GURÚCOMM</b>.<br><br>
          j) Para utilizar la información general no asociada a la cuenta de
          EL TITULAR-Cliente para fines estadísticos y para mejoras en
          la calidad de los servicios ofrecidos por <b>GURÚCOMM</b>.<br><br>
          k) Enviar correos electrónicos de salutaciones de fin de año a EL TITULAR-Cliente.
        </p>
        <p>
          <b>5.2.-</b> En caso de que EL TITULAR no desee que sus datos personales
          sean utilizados para todas o algunas de las Finalidades Secundarias que
          se establecen en el apartado 5.1.8., deberá enviar una solicitud de
          eliminación de sus datos, especificando las finalidades para las que desea
          que no sean tratados sus datos personales, al siguiente correo electrónico:
          <a target="_blank" href="mailto:ventas@gurucomm.mx">ventas@gurucomm.mx</a>
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>6.- Uso de “Cookies” y “web beacons”</b>
        </p>
        <p>
          <b>6.1.-</b> Es posible que LA PÁGINA DE INTERNET DE <b>GURÚCOMM</b> haga uso de "cookies"
          en conexión con ciertas características o funciones.  Las cookies son tipos
          específicos de información que un sitio web transmite al disco duro de la
          computadora de EL TITULAR con el fin de mantener los registros. Las cookies
          pueden servir para facilitar el uso de un sitio web, al guardar contraseñas y
          preferencias mientras EL TITULAR navega en Internet. LA PÁGINA DE INTERNET
          DE <b>GURÚCOMM</b> no usa cookies para obtener datos de identificación personal
          de la computadora de EL TITULAR que no se hayan enviado originalmente como parte de la cookie.
        </p>
        <p>
          <b>6.2.-</b> Por su parte, las “web beacons” son imágenes insertadas en una página
          de Internet o correo electrónico, que puede ser utilizado para monitorear
          el comportamiento de un visitante, como almacenar información sobre la dirección
          IP del usuario, duración del tiempo de interacción en dicha página y el
          tipo de navegador utilizado, entre otros.
        </p>
        <p>
          <b>6.3.-</b> Aunque la mayoría de los navegadores aceptan cookies y web
          beacons automáticamente, EL TITULAR puede configurar su navegador para que no los acepte.
        </p>
        <p>
          <b>6.4.-</b> Para desactivar las cookies, debe seguir las siguientes instrucciones:
        </p>
        <p>
          <b>6.4.1.-</b> En una PC: abrir el explorador de Internet, entrar al menú de “Herramientas”,
          entrar a “Opciones de Internet”, escoger la pestaña de “Privacidad”,
          mover el cursor de la Configuración hacia “Bloquear todas las Cookies”.
        </p>
        <p>
          <b>6.4.2</b> En un Mac: abrir la aplicación de Internet, ir a “Preferencias”,
          escoger la opción de “Seguridad”, escoger “Nunca” en la opción de “Aceptar Cookies”.
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>7.- Limitaciones para el acceso y divulgación de los datos personales</b>
        </p>
        <p>
          <b>7.1.- GURÚCOMM</b>, se compromete a realizar su mejor esfuerzo para proteger
          la seguridad de los datos personales que EL TITULAR le está entregando,
          mediante la celebración de actos jurídicos, el uso de tecnologías que controlen
          el acceso, uso o divulgación sin autorización de la información personal;
          para tal efecto, se almacena la información personal en bases de datos con
          acceso limitado que se encuentran en instalaciones controladas con mecanismos
          de seguridad; <b>GURÚCOMM</b> se compromete a que la información proporcionada
          por EL TITULAR, sea considerada con carácter confidencial, y utilizada bajo
          plena privacidad, en cumplimiento de los principios y deberes referidos al
          tratamiento de datos personales así como de la normativa aplicable en la materia.
        </p>
        <p>
          <b>7.2.-</b> En este tenor, <b>GURÚCOMM</b> se obliga a tomar las medidas
          necesarias para garantizar que los Encargados que utilice cumplan con
          lo establecido en el presente Aviso de Privacidad, con las obligaciones
          a su cargo y particularmente, con las disposiciones establecidas en el
          artículo 50 del Reglamento de la LFPDPPP.
        </p>
        <p>
          <b>7.3.-</b> Asimismo, <b>GURÚCOMM</b> se obliga a contratar servicios de
          cómputo en la nube que realicen el tratamiento de los datos personales
          de LOS TITULARES, siempre que los mismos respeten las previsiones del
          artículo 52 del Reglamento de la LFPDPPP.
        </p>
        <p>
          <b>7.4.-</b> Adicionalmente, se le informa que para efectos de evitar recibir
          publicidad en general, puede realizar su inscripción en el Registro Público
          para Evitar Publicidad, para mayor información podrá revisar el sitio web de
          la Procuraduría Federal de Consumidor (PROFECO) y adicionalmente, otra forma en
          la que puede limitar el tratamiento de sus datos personales es el Registro
          Público de Usuarios que tiene la Comisión Nacional para la Defensa del Usuario
          de Servicios Financieros  (CONDUSEF).
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>8.- Designado de tramitar las solicitudes</b>
        </p>
        <p>
          <b>8.1.-</b> En caso de que EL TITULAR necesite revocar su consentimiento, así
          como Acceder, Rectificar, Cancelar, Oponerse al tratamiento de los datos
          personales que ha proporcionado, lo deberá hacer a través de las siguientes
          personas designadas por <b>GURÚCOMM</b>, cuyos datos se describen a continuación:<br>
          <b>Designado:</b> Área de Protección de Datos Personales.<br>
          <b>Correo electrónico:</b> <a target="_blank" href="mailto:protecciondedatos@gurucomm.mx">protecciondedatos@gurucomm.mx</a>
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>9.- Medios para revocar el consentimiento</b>
        </p>
        <p>
          EL TITULAR de los datos personales podrá revocar el consentimiento que se otorga
          con la aceptación del presente. Dicha revocación del consentimiento que se otorga
          por medios electrónicos, se deberá de hacer observando el siguiente procedimiento,
          utilizando el siguiente formato:
        </p>
        <p>
          <b>9.1.-</b> Enviar un correo electrónico en atención al Designado en el
          punto 8-ocho del presente Aviso,  mediante el cual serán atendidas dichas solicitudes.
        </p>
        <p>
          <b>9.2.-</b> Enviar una solicitud o mensaje de datos al correo
          electrónico antes precisado, en el que señale:
          <ul style="list-style:none;">
            <li>
              <b>9.2.1.-</b> El nombre completo de EL TITULAR, domicilio y correo
              electrónico para recibir la respuesta que se genere con motivo de su solicitud;
            </li>
            <li>
              <b>9.2.2.-</b> El motivo de su solicitud;
            </li>
            <li>
              <b>9.2.3.-</b> Los argumentos que sustenten su solicitud o petición;
            </li>
            <li>
              <b>9.2.4.-</b> Documento oficial que acredite su identidad y que
              demuestre que es quien dice ser; y
            </li>
            <li>
              <b>9.2.5.-</b> Fecha a partir de la cual, se hace efectiva la
              revocación de su consentimiento.
            </li>
          </ul>
        </p>
        <p>
          <b>9.3.- GURÚCOMM</b> notificará a EL TITULAR, en un plazo máximo de 20-veinte días,
          contados desde la fecha en que se recibió la solicitud sobre la revocación del
          consentimiento, la resolución adoptada, a efecto de que, si resulta procedente,
          se haga efectiva la misma dentro de los 15-quince días siguientes a la fecha
          en que se comunica la respuesta, mediante un mensaje que contenga que ha ejecutado
          de todos los actos tendientes a no tratar los datos personales de EL TITULAR.
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>10.- Medios para ejercer los derechos ARCO</b>
        </p>
        <p>
          <b>10.1.-</b> En caso de que EL TITULAR necesite Acceder, Rectificar,
          Cancelar u Oponerse a los datos personales que ha proporcionado a <b>GURÚCOMM</b>,
          EL TITULAR deberá seguir el siguiente procedimiento, utilizando el
          siguiente formato: <a target="_blank" href="/assets/pdf/formato_derechos_arco.pdf">Descargar Formato</a>
        </p>
        <p>
          <b>10.2.-</b> Enviar un correo electrónico en atención al Designado
          del punto 8-ocho del presente Aviso, mediante el cual serán atendidas
          dichas solicitudes, señalando lo siguiente:
          <ul style="list-style:none;">
            <li>
              <b>10.2.1.-</b> El nombre completo de EL TITULAR, domicilio y correo
              electrónico para recibir la respuesta que se genere con motivo de su solicitud;
            </li>
            <li>
              <b>10.2.2.-</b> El motivo de su solicitud;<
            </li>
            <li>
              <b>10.2.3.-</b> Los argumentos que sustenten su solicitud o petición;
            </li>
            <li>
              <b>10.2.4.-</b> Documento oficial que acredite su identidad y que
              demuestre que es quien  dice ser;
            </li>
            <li>
              <b>10.2.5.-</b> Descripción clara y precisa de los datos personales
              respecto de los que se busca ejercer alguno de los derechos ARCO, y
              cualquier otro elemento o documento que facilite la localización
              de los datos personales.
            </li>
            <li>
              <b>10.2.6.-</b> Tratándose de solicitudes de rectificación de datos
              personales, EL TITULAR deberá indicar, además de lo señalado, las
              modificaciones a realizarse y aportar la documentación que sustente su petición.
            </li>
          </ul>
        </p>
        <p>
          <b>10.3.- GURÚCOMM</b> notificará al TITULAR, en un plazo máximo de
          20-veinte días contados desde la fecha en que se recibió la solicitud de
          acceso, rectificación, cancelación u oposición, la resolución adoptada,
          a efecto de que, si resulta procedente, se haga efectiva la misma dentro
          de los 15-quince días siguientes a la fecha en que se comunica la respuesta.
          Tratándose de solicitudes de acceso a datos personales, procederá la
          entrega previa acreditación de la identidad del solicitante o representante
          legal, según corresponda.
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>11.- Transferencia de datos personales</b>
        </p>
        <p>
          <b>11.1.- GURÚCOMM</b> se obliga a no transferir o compartir los datos
          a que se refiere el presente Aviso, a favor de terceros, salvo en los
          casos que resulte necesario para cumplir con las finalidades del presente
          aviso, o bien, sean necesarios en cumplimiento de un requerimiento de autoridad.
        </p>
        <p>
          <b>11.2.-</b> Asimismo, en cumplimiento de sus obligaciones legales,
          y con efectos informativos al TITULAR, se le indica que <b>GURÚCOMM</b> podrá
          realizar las siguientes transferencias:
          <ul>
            <li>
              <b>11.2.1.-</b> IMSS, INFONAVIT y SAT, a efecto de dar cumplimiento a
              la legislación laboral, de seguridad social, así como el pago de impuestos.
            </li>
            <li>
              <b>11.2.2.-</b> Instituciones bancarias, a efecto realizar el cobro o
              el pago de los productos o servicios, o el pago de los salarios de
              trabajadores, que requiere u ofrece <b>GURÚCOMM</b> para sus clientes,
              proveedores y trabajadores.
            </li>
            <li>
              <b>11.2.3.-</b> A las empresas que forman parte del mismo grupo
              económico al que pertenece <b>GURÚCOMM</b>.
            </li>
          </ul>
        </p>
        <p>
          <b>11.3.-</b> No obstante lo anterior y, en caso de que se presenten
          vulneraciones de seguridad ocurridas en cualquier fase del tratamiento, que
          afecten de forma significativa los derechos patrimoniales o morales de LOS
          TITULARES, éstos serán informados por correo electrónico, de forma inmediata,
          a fin de que estos últimos puedan tomar las medidas correspondientes a la
          defensa de sus derechos, deslindando de cualquier responsabilidad a <b>GURÚCOMM</b>,
          si la vulneración no es imputable a él.
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>12.- Modificaciones</b>
        </p>
        <p>
          <b>12.1.-</b> Las partes acuerdan que el Aviso de Privacidad, puede ser
          modificado en el tiempo y forma que <b>GURÚCOMM</b> lo determine, atendiendo al
          estudio y las regulaciones en materia de protección de datos personales
          surjan, por lo que se obliga a mantener actualizado el presente aviso,
          para su consulta LA PÁGINA DE INTERNET DE <b>GURÚCOMM</b> a efecto de que en su
          caso, EL TITULAR se encuentre en posibilidad de ejercer sus derechos ARCO.
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>13.- Autoridad garante</b>
        </p>
        <p>
          <b>13.1.-</b> Si usted considera que su derecho a la protección de sus datos
          personales ha sido lesionado por alguna conducta u omisión de nuestra parte,
          o presume alguna violación a las disposiciones previstas en la Ley Federal
          de Protección de Datos Personales en Posesión de los Particulares, su
          Reglamento y demás ordenamientos aplicables, podrá interponer su inconformidad
          o denuncia ante el Instituto Nacional de Transparencia, Acceso a la Información
          y Protección de Datos Personales (INAI). Para mayor información, le sugerimos
          visitar su página oficial de Internet www.inai.org.mx
        </p>
        <p style="font-size: 1.6rem; margin-top:2rem;">
          <b>14.- Ley aplicable y jurisdicción</b>
        </p>
        <p>
          <b>14.1.-</b> Las partes expresan que el presente aviso, se regirá por
          las disposiciones legales aplicables en la República Mexicana, en especial,
          por lo dispuesto en la Ley Federal de Protección de Datos Personales en
          Posesión de los Particulares, su Reglamento y la demás normativa vinculada aplicable.
        </p>
        <p>
          <b>14.2.-</b> Para el caso de que exista una disputa o controversia, derivada
          de la interpretación, ejecución o  cumplimiento del aviso o de cualquiera de los
          documentos que del mismo se deriven, o que guarden relación con éste, las
          partes amigablemente, buscarán llegar a un acuerdo dentro de un plazo de
          30-treinta días naturales, contados a partir de la fecha en que surja cualquier
          diferencia y se notifique por escrito sobre dicho evento a la contraparte,
          deduciendo el proceso de mediación ante el Centro de Justicia Alternativa
          de la Ciudad de México, antes Distrito Federal, llevándose al amparo de la
          Ley de Justicia Alternativa del Tribunal Superior de Justicia de la Ciudad
          de México, y su Reglamento Interno, vigente al momento de que se presente
          la controversia.
        </p>
        <p>
          <b>14.3.-</b> En caso de que las partes no lleguen a un acuerdo, convienen
          en este acto en someter todas las desavenencias que deriven del presente
          Aviso de Privacidad o de cualquiera de los documentos que del mismo se
          deriven, o que guarden relación con éste o con aquéllos, a ser resueltas
          de manera definitiva, sometiéndose a la competencia y leyes de las
          Autoridades Administrativas Federales o Tribunales de la Ciudad de México,
          renunciando expresamente a cualquier fuero distinto que por razones de
          sus domicilios presentes o futuros pudieren corresponderles.
        </p>
        <p style="font-weight:bold; text-align:right; font-size:1.5rem;">
          <i>Versión 1.2 [Fecha de actualización 12/Noviembre/2019]</i>
        </p>
      </div>
  </div>
</div>
