<div class="container steps">
  <div class="col-xs-6 step {{step1Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step1">
      </div>
    </div>
    <p class="text-muted">Crea tu cuenta</p>
  </div>
  <div class="col-xs-6 step {{step2Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step2"></div>
    </div>
    <p class="text-muted">Valida tu cuenta</p>
  </div>
</div>
