<h1 dir="ltr">
    Política de Uso Justo / Política Anti Fraude
</h1>
<p dir="ltr">
    EL SOFTWARE SE PROPORCIONA "COMO ESTÁ", SIN GARANTÍA DE NINGÚN TIPO,
    EXPRESA O IMPLÍCITA, INCLUYENDO PERO NO LIMITADO A GARANTÍAS DE
    COMERCIALIZACIÓN, IDONEIDAD PARA UN PROPÓSITO PARTICULAR E INCUMPLIMIENTO.
    EN NINGÚN CASO LOS AUTORES O PROPIETARIOS DE LOS DERECHOS DE AUTOR SERÁN
    RESPONSABLES DE NINGUNA RECLAMACIÓN, DAÑOS U OTRAS RESPONSABILIDADES, YA
    SEA EN UNA ACCIÓN DE CONTRATO, AGRAVIO O CUALQUIER OTRO MOTIVO, DERIVADAS
    DE, FUERA DE O EN CONEXIÓN CON EL SOFTWARE O SU USO U OTRO TIPO DE ACCIONES
    EN EL SOFTWARE.
</p>
<br/>
<p dir="ltr">
    GurúComm puede finalizar la relación con el Suscriptor o puede suspender el
    Servicio de Telefonía si determina que el uso de la Telefonía va en contra
    de esta Política de Uso Servicio de Telefonía o contra los términos y
    condiciones establecidos. GurúComm enviará un aviso de uso abusivo antes de
    la suspensión o la finalización del Servicio adquirido.
</p>
<h1 dir="ltr">
    Objetivo
</h1>
<p dir="ltr">
    Esta Política de Uso Servicio Telefonía constituye una guía para
    orientar a nuestros Usuarios en el uso y utilización del Servicio de
    conformidad con lo establecido en nuestros términos y condiciones. De igual
    forma previene fraudes y abusos de nuestro Servicio.
</p>
<h1 dir="ltr">
    Actividades Prohibidas
</h1>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Uso de marcadores automáticos;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Telemarketing o Call Centers o línea de conferencias;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Uso compartido del Servicio de Telefonía entre usuarios de
            diferentes hogares a través de un sistema PBX
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            (conmutador telefónico), centro de llamadas, equipo informático o
            cualquier otro medio;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Uso de máquinas de fax para transmisiones masivas o no solicitadas;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Desvío extenso de llamadas o uso de funciones de desvío de llamadas
            o conferencias para actuar como
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            puente a otras líneas telefónicas u otros medios de conferencias, o
            un uso no acorde al desvío de llamadas de un negocio de 5 personas,
            mediante el servicio digital proporcionado por GurúComm;
            Transmisión o recepción de programas a través de medios de
            teleconferencia, entre otros;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Transmisión o recepción de material grabado;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Transmisión o recepción de comunicaciones con diálogo en vivo entre
            personas físicas;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Comercialización, venta o reventa de servicios de telefonía a
            terceros o cualquier actividad similar sobre
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            el Servicio de Telefonía;
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Llamadas a números) ya sea en forma única, secuencial o automática)
            que generen ingresos para el
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Suscriptor o terceros, así como la participación en actividades que
            puedan generar pagos a un Suscriptor
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            como resultado del uso del Servicio (por sus términos en inglés:
            call back, by pass);
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Patrones de llamadas inusuales que no sean consecuentes con el Uso
            Residencial del Servicio; y/o
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Usar algún medio automático para manipular el Servicio, o usar el
            mismo para infringir cualquier ley,
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            reglamento o lineamiento, incluyendo derechos de propiedad
            intelectual o derechos de un tercero.
        </p>
    </li>
</ul>
<br/>
<h1 dir="ltr">
    Cumplimiento de la Política de Uso Servicio Telefonía
</h1>
<p dir="ltr">
    Para vigilar el cumplimiento de esta Política de Uso Servicio Telefonía,
    GurúComm NO PODRÁ MONITOREAR EL CONTENIDO DE LAS CONVERSACIONES TELEFÓNICAS
    DE SUS USUARIOS.
</p>
<p dir="ltr">
    GurúComm utiliza diferentes herramientas y técnicas estándar de la
    industria para garantizar el cumplimiento de esta Política de Uso Servicios
    Telefonía.
</p>
<p dir="ltr">
    Cuando la cuenta del Usuario presente patrones de llamadas que no se
    apeguen al Uso normal de un hogar y al Uso residencial contratado, GurúComm
    podrá verificar a detalle los patrones de llamadas y volúmenes de tráfico
    para verificar si se ha incumplido, para identificar, entre otros
    supuestos:
</p>
<ul>
    <li dir="ltr">
        <p dir="ltr">
            Cantidad acumulada de números telefónicos distintos marcados.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Cantidad de llamadas excesivas realizadas, así como la cantidad
            acumulada de minutos utilizados en llamadas salientes.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Llamadas excesivamente largas a un número específico.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            La proporción relativa de los destinos de las llamadas fuera de
            área del servicio local o las llamadas
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            excesivas al mismo número de teléfono de destino, lo que podría
            suponer la utilización de un equipo de
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            desvío de llamadas automático o de un puente de línea de
            conferencia.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Llamadas entrantes excesivas.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Llamadas excesivas realizadas de corta duración.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Volumen excesivo de llamadas terminadas durante un período y
            reiniciadas de un modo consecutivo, que en total resultan en
            duración excesiva de llamadas durante un período específico.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Manipulación del Servicio para permitir el uso del mismo en una
            ubicación distinta a la especificada en la Orden de Instalación.
        </p>
    </li>
    <li dir="ltr">
        <p dir="ltr">
            Cualquier otro patrón de llamadas excesivas que sea un intento de
            evadir los esfuerzos de GurúComm por hacer cumplir esta Política de
            Uso Servicio Telefonía.
        </p>
    </li>
</ul>
<p dir="ltr">
    GurúComm tomará en cuenta cualquier posible actividad ilícita, abusiva o
    excesiva por parte del Usuario en el momento de verificar si existen
    posibles violaciones a esta Política de Uso Servicio Telefonía.
</p>
<h1 dir="ltr">
    Alcance legal
</h1>
<p dir="ltr">
    Lo previsto en esta Política de Uso Servicio Telefonía regula el uso
    aceptable del Servicio, por lo que es obligatorio para el Usuario usar el
    Servicio en los términos y condiciones contenidos en estos términos y la
    presente Política de Uso Servicio Telefonía. Cuando el Usuario incumpla la
    política mencionada, GurúComm podrá suspender el Servicio y terminar la
    cuenta del usuario.
</p>
<p dir="ltr">
    GurúComm se reserva el derecho de modificar esta Política de Uso Servicio
    Telefonía en cualquier momento; dichas modificaciones entrarán en vigor a
partir de su publicación en el sitio web    <a href="https://todosconectados.org/">https://todosconectados.org/</a>
</p>
<p dir="ltr">
    El Usuario se obliga a consultar la Política Uso Servicio Telefonía
    regularmente para asegurar de que sus actividades se ajusten y cumplan la
    versión vigente.
</p>
<p dir="ltr">
    Si el Usuario no está de acuerdo con los términos de esta Política Uso
    Servicio Telefonía deberá suspender de inmediato el uso del servicio y
    llamar a GurúComm para dar por terminado el Servicio.
</p>
