.activation-view {
  .highlight-image{
      margin: 0 auto;
      .img-responsive{
        max-width: 30rem;
        display: block;
        margin: 0 auto;
        @media (min-width: 370px){
          max-width: 35rem;
        }
        @media (min-width: 410px){
          max-width: 40rem;
        }
        @media (min-width: $screen-sm-min){
          max-width: 32rem;
        }
        img{
        width: 100%;
        margin: 0 auto;
        }
      }
    }
    input{
    width: 20rem;
    text-align: center;
    border: #f0f0f0 1px solid;
    margin: 0 auto;
    background-color: #f0f0f0;
  }
  .form-group{
      text-align: center;
      margin: 0 auto;
      margin-bottom: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .btn-primary{
      text-align: center;
      margin:0 auto;
      margin-bottom: 2
      }
}
