.confirmation-view {
  padding-top: 2rem;
  padding-bottom: 4rem;
  .highlight-image{
      margin: 0 auto;
      .img-responsive{
        max-width: 30rem;
        display: block;
        margin: 0 auto;
        @media (min-width: 370px){
          max-width: 35rem;
        }
        @media (min-width: 410px){
          max-width: 40rem;
        }
        @media (min-width: $screen-sm-min){
          max-width: 32rem;
        }
        img{
        width: 100%;
        margin: 0 auto;
        }
      }
    }
    input{
    width: 20rem;
    text-align: center;
    border: #f0f0f0 1px solid;
    margin: 0 auto;
    background-color: #f0f0f0;
  }
  .margin-top-2{
    margin-top: 2rem;
  }
  .margin-bottom-1{
    margin-bottom: 1rem;
  }
  .text-gray{
    font-size: 2rem;
    color: #747474;
  }
  .form-group{
      text-align: center;
      margin: 0 auto;
      margin-bottom: 1rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    .btn-primary{
      text-align: center;
      margin:0 auto;
      margin-bottom: 2;
      margin-left: 0.5rem;
      }
      .btn-secondary{
        text-align: center;
        margin:0 auto;
        margin-bottom: 2;
        background: #CCCCCC;
        color: white;
        margin-right: 0.5rem;
        }
}
