body, h1, h2, h3, h4, h5, p{
  font-family: 'Open Sans', sans-serif;
  font-weight: $normal;
}
#main-container{
  overflow-y: hidden;
  padding-top: 73px;
  @media (min-width: $screen-sm-min) {
    margin-top: -0.2rem;
  }
}
strong{
  font-weight: $bold;
}
.grey{
  background-color: #871719;
}
.high-icon{
  padding-top: 2rem;
  padding-bottom: 4rem;
  text-align: center;
}
.text-padd{
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  @media (min-width: $screen-sm-min) {
    padding-top: 0rem;
  }
  @media (min-width: $screen-md-min) {
    padding-top: 2rem;
  }
  @media (min-width: $screen-lg-min) {
    padding-top: 3rem;
  }
}
.padd-one{
  padding-top: 1rem;
}
.padd-bottom{
  padding-bottom: 2rem;
}
.padd-top{
  padding-top: 2rem;
}
p{
  color: #666666;
  margin: 0;
}
h1{
  font-size: 3.0rem;
  margin:0;
  text-align: center;
  color: $brand-primary;
  @media(min-width: $screen-sm-min){
    margin-top: 1.0rem;
  }
}
.stroke{
  display: inline-block;
  border: .2rem solid $brand-primary;
  padding: 1rem 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-radius: 3.2rem;
  text-align: center;
  @media(min-width: $screen-sm-min){
    padding: 1rem 4rem;;
  }
}
h3{
  font-size: 1.8rem;
  color: $brand-primary;
  text-align: center;
}
.primary{
  color: $brand-primary;
}
b{
  color: $brand-primary;
  font-weight: bold;
}
.line-gray{
  height: 1px;
  background-color: #ababab;
  width: 80%;
  margin: 2rem auto;
}
.row{
  margin-bottom: 2rem;
}
.line-title{
  width: 75%;
  height: 1px;
  background-color: #ababab;
  margin: 1.3rem auto 1.3rem auto;
  @media(min-width: $screen-sm-min){
    width: 50%;
  }
  @media(min-width: $screen-md-min){
    width: 70%;
  }
  @media(min-width: $screen-md-min){
    width: 50%;
  }
}
.homeoff-high{
  max-width: 55rem;
  img{
    width: 100%;
  }
  @media(min-width: $screen-sm-min){
    max-width: 30rem;
    padding-top: 2rem;
  }
  @media(min-width: $screen-md-min){
    max-width: 40rem;
    padding-top: 0rem;
  }
}
.icon-step{
  margin-right: 1rem;
  max-width: 12rem;
  display: inline-flex;
}
.container-icons-steps{
  display: block;
  justify-content: center;
  align-items: center;
}
.container-steps{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-top:1rem;
  margin-bottom: 1rem;
  h2{
    text-align: left;
  }
}
.site-section{
  padding-top: 3rem;
  padding-bottom: 4rem;
  h2{
    color: $dark-gray;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.3em;
  }
  &.primary{
    @include bg-color($brand-primary);
    color: $white;
    h1, h2, h3, p{
      color: $white;
    }
    .line-title{
      @include bg-color($white);
    }
  }
  &.light{
    @include bg-color(#fafafa);
  }
}
.icon-conditions{
  img{
    width: 100%;
    float: right;
    right: 0;
    @media(min-width: $screen-lg-min){
      width: 5rem;
    }
  }
}
.vertical-center{
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-code{
  width: 100%;
}
/*Contact form*/
.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.wrap-contact100 {
  max-width: 960px;
  background: #fff;
  border-radius: 2px;
  padding: 66px 115px 59px 115px;
  position: relative;
}
/*form*/
.contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.text-gray{
  font-size: 2rem;
  color: #747474;
}

.center{
  display: flex;
  justify-content: center;
}

textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #ffffff;
}
@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 66px 80px 59px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 66px 15px 59px 15px;
  }
}
