body{
  font-family: 'Open Sans', sans-serif;
  font-weight: $normal;
}

#main-container{
  overflow-y: hidden;
  padding-top: 73px;
  @media(min-width: $screen-sm-min){
    padding-top: 111px;
  }
  @media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1)
  and (orientation : portrait) {
    padding-top: 124px;
  }
}
.light-primary{
  background-color: $brand-primary;
  h1{
    color: $white;
  }
  h2{
    color: $white;
  }
}
.grey{
  background-color: #871719;
}
.slider{
    a{
      cursor: pointer;
    }
    @include bg-color($brand-primary);
    background-image:
    url('/assets/images/home-bg.png');
    background-size: cover;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    .line-slider{
      width: 40%;
      height: 1px;
      background-color: white;
      margin: 2rem auto;
      @media (min-width: $screen-sm-min) {
        margin: 2rem 0;
        width: 25%;
      }
    }
    .highlight{
      text-align: center;
      padding-top: 8rem;
      padding-bottom: 1rem;
      @media (min-width: $screen-sm-min) {
        padding-top: 7rem;
        padding-left: 2rem;
        text-align: left;
      }
      @media(min-width: $screen-md-min){
        padding-top: 10rem;
        padding-left: 3rem;
      }
      @media(min-width: $screen-lg-min){
        padding-top: 11rem;
      }
    }
    h1{
      text-align: center;
      @media(min-width: $screen-sm-min){
        text-align: left;
        max-width: none;
      }
      font-size: 3.2rem;
      @media(min-width: $screen-iphone6-min){
        font-size: 3.4rem;
      }
      color: $white;
    }
    h2{
      color: $white;
      font-size: 2.0rem;
      line-height: 1.4em;
      margin-bottom: 1.9rem;
      @media(min-width: $screen-sm-min){
        text-align: left;
        font-size: 1.6rem;
      }
    }
    .btn-container{
      max-width: none;
      display: flex;
      margin-left: -15px;
      margin-right: -15px;
      margin-top: 2.0rem;
      margin-bottom: 0;
      @media(min-width: $screen-iphone6-min){
        margin-left: auto;
        margin-right: auto;
      }
      @media(min-width: $screen-sm-min){
        max-width: 30rem;
        margin-left: 0;
      }
      @media(min-width: $screen-md-min){
        max-width: 30rem;
        margin-left: 0;
        margin-top: 2.0rem;
      }
      $p: 0.9rem;
      .btn-wrapper{
        margin-top: 0;
        font-size: 1rem;
        padding-left: $p;
        padding-right: 0;
        font-weight: $semi-bold;
        margin-bottom: 1.0rem;
        display: block;
        @media(min-width: $screen-sm-min){
          margin-bottom: 0;
        }
      }
      .btn{
        font-weight: $bold;
        background-color: #ffffff;
      }
    }
    .highlight-image{
      margin: 2rem auto 0 auto;
      padding:0;
      img{
        margin: 0 auto;
        width: 100%;
      }
      .img-center{
        max-width: 40rem;
        margin: 0 auto;
      }
      .img-responsive{
      max-width: 30rem;
      display: block;
      margin: 0 auto;
      @media (min-width: 370px){
        max-width: 35rem;
      }
      @media (min-width: 410px){
        max-width: 40rem;
      }
      @media (min-width: $screen-sm-min){
        max-width: 32rem;
      }
      img{
      width: 100%;
      margin: 0 auto;
      }
    }
    }
  }
  .high-icon{
    padding-top: 2rem;
    padding-bottom: 4rem;
    text-align: center;
  }
  .text-padd{
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    @media (min-width: $screen-sm-min) {
    padding-top: 0rem;
    }
    @media (min-width: $screen-md-min) {
    padding-top: 2rem;
    }
    @media (min-width: $screen-lg-min) {
    padding-top: 3rem;
    }
  }
  .padd-one{
    padding-top: 1rem;
  }
  .padd-top{
    padding-top: 1rem;
    @media (min-width: $screen-sm-min){
      padding-top: 4rem;
    }
    @media (min-width: $screen-md-min){
      padding-top: 3rem;
    }
    @media (min-width: $screen-lg-min){
      padding-top: 2rem;
    }
  }
  .padd-bottom{
    padding-bottom: 2rem;
  }
  .padd-top{
    padding-top: 2rem;
  }
  p{
    color: #666666;
    margin: 0;
  }
  h1{
    font-size: 3.0rem;
    margin:0;
    text-align: center;
    color: $brand-primary;
    @media(min-width: $screen-sm-min){
      margin-top: 1.0rem;
    }
  }
  h2{
    margin:0;
    text-align: center;
    color: #666666;
    font-size: 1.5rem;
    line-height: 1.2em;
  }
  .stroke{
    display: inline-block;
    border: .2rem solid $brand-primary;
    padding: 1rem 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-radius: 3.2rem;
    text-align: center;
    @media(min-width: $screen-sm-min){
      padding: 1rem 4rem;;
    }
  }
  h3{
    font-size: 1.8rem;
    color: $brand-primary;
    text-align: center;
  }
  .primary{
    color: $brand-primary;
  }
  b{
    color: $brand-primary;
    font-weight: bold;
  }
  .line-gray{
    height: 1px;
    background-color: #ababab;
    width: 80%;
    margin: 2rem auto;
  }
  .row{
        margin-bottom: 2rem;
      }
  .line-title{
    width: 75%;
    height: 1px;
    background-color: #ababab;
    margin: 1.3rem auto 1.3rem auto;
    @media(min-width: $screen-sm-min){
      width: 50%;
    }
    @media(min-width: $screen-md-min){
      width: 70%;
    }
    @media(min-width: $screen-md-min){
      width: 50%;
    }
  }
  .homeoff-high{
    max-width: 55rem;
    img{
      width: 100%;
    }
    @media(min-width: $screen-sm-min){
      max-width: 30rem;
      padding-top: 2rem;
    }
    @media(min-width: $screen-md-min){
      max-width: 40rem;
      padding-top: 0rem;
    }
  }
  .icon-step{
    margin-right: 1rem;
    max-width: 12rem;
    display: inline-flex;
  }
  .container-icons-steps{
    display: block;
    justify-content: center;
    align-items: center;
  }
  .container-steps{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-top:1rem;
    margin-bottom: 1rem;
    h2{
      text-align: left;
    }
  }
  .icons-description{
    padding-top: 5rem;
    width: 20rem;
    height: auto;
    margin: 0 auto;
    padding-bottom: 1rem;
    img{
      width: 100%;
      margin: 0 auto;
    }
    @media(min-width: $screen-sm-min){
      padding-top: 3rem;
    }
  }
  .light-gray{
    padding-top: 3rem;
    padding-bottom: 4rem;
  }
  .icon-conditions{
    img{
      width: 100%;
      float: right;
      right: 0;
      @media(min-width: $screen-lg-min){
        width: 5rem;
      }
    }
  }
  .vertical-center{
    padding-top: 2rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-code{
      width: 100%;
  }
  /*Contact form*/
  .container-contact100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  .wrap-contact100 {
    max-width: 960px;
    background: #fff;
    border-radius: 2px;
    padding: 66px 115px 59px 115px;
    position: relative;
  }
  /*form*/
  .contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 .text-gray{
   font-size: 2rem;
   color: #747474;
 }

.center{
  display: flex;
  justify-content: center;
}

 .margin-top-2{
   margin-top: 2rem;
 }

textarea.input100 {
  min-height: 162px;
  padding-top: 19px;
  padding-bottom: 13px;
}

.input100:focus {
  background: #ffffff;
}
@media (max-width: 992px) {
  .wrap-contact100 {
    padding: 66px 80px 59px 80px;
  }
}

@media (max-width: 768px) {
  .rs1-wrap-input100 {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 66px 15px 59px 15px;
  }
}
