$p: 2.0rem;
.base-footer{
  @include bg-color($brand-primary);
  color: $white;
  padding-top: $p;
  padding-bottom: $p;
  .footer-column{
    p{
      font-weight: 1.5rem;
      padding-bottom: 1.0rem;
    }
    p, a, a:hover{
      color: $white;
    }
    text-align: center;
    color: $white;
  }
}
