.gcomm-dialog{
  .icon{
    text-align: center;
    margin-bottom: 2.0rem;
    .img-responsive{
      max-width: 4.0rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  p{
    &.strong{
      font-weight: $bold;
    }
  }
  .modal-title{
    color: $brand-primary;
    text-align: center;
    font-weight: 600;
  }
  .modal-promo-xmas{
    .m-bottom{
      margin-bottom: 5rem;
      @media (min-width: $screen-sm-min){
        margin-bottom: 0;
      }
    }
    p{
      text-align: center;
    }
    h3{
      text-align: center;
      font-weight: 600;
      color: $brand-primary;
      font-size: 2rem;
    }
    .actions{
      text-align: center;
      @media (min-width: $screen-sm-min){
        margin-bottom: .5rem;;
      }
      @media (min-width: $screen-md-min){
        margin-bottom: 0rem;;
      }
    }
    .icon-modal-promo{
      max-width: 20rem;
      margin: 2rem auto 0 auto;
      img{
        width: 100%;
      }
    }
    .line-gray{
      margin: 1rem auto;
      background: #b4b4b4;
      display: block;
      height: 1px;
      width: 70%;
    }
  }
}
