.signup-steps{
  margin-top: 1.0rem;
  $m: 2.0rem;
  .steps{
    margin-top: 7rem;
    margin-bottom: $m;
    @media (min-width: $screen-sm-min){
      margin-top: 2rem;
    }
    .step{
      $s: 6.0rem;
      padding-left: 0;
      padding-right: 0;
      p{
        margin-top: 1.0rem;
        font-size: 1.3rem;
        line-height: 1.1em;
        text-align: center;
      }
      $s: 5.0rem;
      .step-icon{
        height: $s;
        width: 100%;
        position: relative;
        .step-indicator{
          width: $s;
          height: $s;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: $s / -2;
          margin-top: $s / -2;
          @include bg-color($bg-light-gray);
          &.step1{
            background-image: url('/assets/images/signup-step1.png');
            background-repeat: no-repeat;
            background-size: contain;
          }
          &.step2{
            background-image: url('/assets/images/signup-step2.png');
            background-size: contain;
            background-repeat: no-repeat;
          }
        }
      }
      $h: 0.1rem;
      .step-line{
        width: 100%;
        height: $h;
        @include bg-color($light-gray-line);
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: $h / -2;
      }
      &.active{
        p{
          color: $brand-primary;
        }
        .step-icon{
          .step-indicator{
            &.step1{
              background-image: url('/assets/images/signup-step1-active.png');
              background-repeat: no-repeat;
              background-size: contain;
            }
            &.step2{
              background-image: url('/assets/images/signup-step2-active.png');
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }
      }
    }
  }
}
