// general colors
$white: #FFFFFF;
$ligh-white: #FEFFFE;
$bg-ligh-gray: #F6F6F6;
$black: #000000;
$light-gray-line: #dddddd;
$dark-gray: #2E2E2E;
$text-color: #434343;
$light-gray: #777777;
$signup-gray: #9B9B9B;
$bg-light-gray: #F8F8F8;
$title-color: #4A4A4A;
$light-gray-secondary: #EAEAEA;
// bs overload
$brand-primary: #FF5155;
$brand-secondary: #b2272a;
$navbar-default-bg: $white;
$navbar-default-link-color: $brand-secondary;
