{{#base-layout}}
<div class="container">
<h1><br><strong style="color:#ff5155">Activa</strong> tu cuenta</h1>
<div class="line-gray"></div>
<h2>Enviaremos un código de verificación a tu número celular para activar tu cuenta.</h2>
</div>
<section class="slider" style="background-color:#ffffff">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 highlight">
        </div>
        <div class="col-sm-12 highlight-image">
          <img class="img-responsive" src="/assets/images/numero_tc.png"
          alt="Cómo pagar">
        </div>
      </div>
    </div>
  </section>
<div class="container">
<h1>Número de celular</h1>
</div>
      <div class="form-group">
        <input type="text"/>
      </div>
      <div class="text-center">
        <a class="btn btn-primary" href="#" role="button">Continuar</a>
      </div>
{{/base-layout}}
