{{#base-layout}}
<div class="index-view">
  <section class="slider container-fluid">
    <div class="container">
      <div class="col-sm-5 highlight-image hidden-xs">
        <img class="img-responsive" src="/assets/images/highlight_thankyou.png"
        alt="Todos Conectados">
      </div>
      <div class="col-sm-7 highlight">
        <h1>
          <strong>Esta iniciativa ha concluido</strong>
        </h1>
        <div class="line-slider"></div>
        <h2>
          ¡Gracias por haber formado parte de Todos Conectados!
        </h2>
      </div>
      <div class="col-sm-5 highlight-image visible-xs">
        <img class="img-responsive" src="/assets/images/highlight_thankyou.png"
        alt="Todos Conectados">
      </div>
    </div>
  </section>
  <section id="sponsors" class="container-fluid site-section light">
    <div class="container">
        <h1>Patrocinadores</h1>
        <h2>Agradecemos el apoyo de las <strong>empresas y organizaciones</strong> que hicieron este proyecto posible</h2>
        <div class="row">
          <div class="col-sm-4 element">
            <a href="https://internet.gurucomm.mx" target="_blank">
              <img class="img-responsive" src="/assets/images/GC_tc.png" alt="GurúComm">
            </a>
          </div>
          <div class="col-sm-4 element">
            <a href="https://haz.com.mx/" target="_blank">
              <img class="img-responsive" src="/assets/images/HAZ_tc.png" alt="HAZ">
            </a>
          </div>
          <div class="col-sm-4 element">
            <a href="https://thegurucompany.com" target="_blank">
              <img class="img-responsive" src="/assets/images/TGC_tc.png" alt="The Guru Company">
            </a>
          </div>
        </div>
    </div>
  </section>
</div>
{{/base-layout}}
{{#gcomm-dialog open=showDialog.privacyPolicy title="Aviso de Privacidad"}}
{{privacy-policy}}
{{/gcomm-dialog}}
