{{#base-layout}}
  <div class="view signup-view">
    <h1><br>Registro</h1>
    <div class="line-gray"></div>
    <h2>Regístrate en <strong>3 minutos</strong> y activa tu número personal de conferencias.</h2>
    <section class="container-fluid light-gray">
      <div class="container steps">
  <div class="col-xs-6 step {{step1Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step1">
      </div>
    </div>
    <p class="text-muted">Crea tu cuenta</p>
  </div>
  <div class="col-xs-6 step {{step2Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step2"></div>
    </div>
    <p class="text-muted">Activa tu número</p>
  </div>
</div>
    </section>
    <div class="container">
      <h1><br>{{fa-icon "user-circle"}} Cuenta</h1>
      <div class="line-gray"></div>
      <h2>Datos del titular de la cuenta.<br><br></h2>
    </div>
  <div class="contact-form">
    <div class="container signup-form single">
      <div class="fieldset padding-fieldset">
        <div class="row">
            <div class="col-sm-12 form-group">
      <input type="text" name="name" id="name" required="required" class="form" placeholder="Nombre*" />
      <input type="text" name="lastname" id="lastname" required="required" class="form" placeholder="Apellidos*" />
      </div>
          </div>
        <div class="row">
              <div class="col-sm-12 form-group">
      <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Correo Electrónico*" />
      <input type="text" name="phone" id="phone" required="required" class="form" placeholder="Teléfono*" />
        </div>
        </div>
  </div>
  </div>
  <div class="relative fullwidth col-xs-12">
      <button type="submit" id="submit" name="submit" class="form-btn semibold">Siguiente</button>
      </div>
</div>
</div>
{{/base-layout}}
