{{#base-layout}}
  <div class="view signup-view">
    <h1><br>Registro</h1>
    <div class="line-gray"></div>
    <h2>Regístrate en <strong>3 minutos</strong> y activa tu número personal de conferencias.</h2>
    <section class="container-fluid light-gray">
      <div class="container steps">
  <div class="col-xs-6 step {{step1Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step1">
      </div>
    </div>
    <p class="text-muted">Crea tu cuenta</p>
  </div>
  <div class="col-xs-6 step {{step2Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step2"></div>
    </div>
    <p class="text-muted">Activa tu número</p>
  </div>
</div>
    </section>
    <div class="container">
      <h1><br>{{fa-icon "user-circle"}} Cuenta</h1>
      <div class="line-gray"></div>
      <h2>Datos del titular de la cuenta.<br><br></h2>
    </div>
    <div class="wrap-contact100">
    <form class="contact100-form validate-form">
      <div class="wrap-input100 rs1-wrap-input100">
        <span class="label-input100"><strong>Nombre*</strong></span>
        <input class="input100" type="text" name="name" placeholder="Diego">
      </div>

      <div class="wrap-input100 rs1-wrap-input100">
        <span class="label-input100"><strong>Apellidos*</strong></span>
        <input class="input100" type="text" name="name" placeholder="Amieva Olvera">
      </div>

      <div class="wrap-input100 rs1-wrap-input100">
        <span class="label-input100"><strong>Correo electrónico*</strong></span>
        <input class="input100" type="text" name="web" placeholder="diego@ejemplo.com">
      </div>

      <div class="wrap-input100 rs1-wrap-input100">
        <span class="label-input100"><strong>Teléfono*</strong></span>
        <input class="input100" type="text" name="web" placeholder="5533001122">
      </div>

    </form>
</div>
</div>
{{/base-layout}}
