{{#base-layout}}
  <div class="view signup-view">
    <h1><br>Registro</h1>
    <div class="line-gray"></div>
    <h2>Regístrate en <strong>3 minutos</strong> y activa tu número personal de conferencias.</h2>
    <section class="container-fluid light-gray">
      <div class="container steps">
  <div class="col-xs-6 step {{step1Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step1">
      </div>
    </div>
    <p class="text-muted">Crea tu cuenta</p>
  </div>
  <div class="col-xs-6 step {{step2Class}}">
    <div class="step-icon">
      <div class="step-line"></div>
      <div class="step-indicator step2"></div>
    </div>
    <p class="text-muted">Activa tu número</p>
  </div>
</div>
    </section>
    <div class="container">
      <h1><br>{{fa-icon "user-circle"}} Cuenta</h1>
      <div class="line-gray"></div>
      <h2>Datos del titular de la cuenta.<br><br></h2>
    </div>
  <div class="row-body">
  <form action="#">
    <ul>
      <li>
          <p class="left">
            <label for="first_name">Nombres</label>
            <input type="text" name="Nombre*" placeholder="Diego" />
          </p>
            <p class="pull-right">
            <label for="last_name">last name</label>
            <input type="text" name="Apellidos" placeholder="Amieva" />
          </p>
        </li>
        <li>
         <p>
           <label for="email">email <span class="req">*</span></label>
           <input type="email" name="Correo electrónico" placeholder="diego@ejemplo.com" />
         </p>
         <p class="pull-right">
           <input type="text" name="Teléfono" placeholder="5533001122" />
         </p>
       </li>
         <li>
            <input class="btn btn-submit" type="submit" value="Enviar" />
         </li>
    </ul>
    </form>
</div>
</div>
{{/base-layout}}
