{{#base-layout}}
  <section class="thank-you container-fluid">
    <section class="slider container-fluid">
      <div class="col-sm-5 highlight-image container">
        <img class="img-responsive" src="/assets/images/gordo_tc.png"
        alt="Gracias">
      </div>
      <div class="col-sm-7 highlight">
        <h1>
        ¡Tu numéro telefónico esta <strong>listo!</strong>
        </h1>
        <h2>
          Ya puedes usarlo para tener conferencias ilimitadas con tu equipo.
        </h2>
      </div>
      <div class="col-sm-5 highlight-image visible-xs">
      </div>
    </section>
    <div class="container site-section">
      <h1>Tu número asignado es:</h1>
      <h2 class="result">{{fa-icon "phone"}} 5511223344</h2>
      <div class="line-gray"></div>
      <h3>Tu código de acceso para conferencias es:</h3>
      <div class="result code">
        {{fa-icon "lock"}} 12345
      </div>
      <br>
    </div>
  </section>
{{/base-layout}}
