{{#base-layout}}
  <section class="slider" style="background-color:#f5f5f5">
    <section class="container">
      <div class="col-sm-5 highlight-image">
        <img class="img-responsive" src="/assets/images/gordo_tc.png"
        alt="Gracias">
      </div>
      <div class="col-sm-7 highlight">
        <h1 style="color:#666666">
        ¡Tu numéro telefónico esta <b style="color:#666666">listo!</b>
        </h1>
        <p style="color:#666666">
        <br> Ya puedes usarlo para tener conferencias ilimitadas con tu equipo.
        </p>
      </div>
      <div class="col-sm-5 highlight-image visible-xs">
      </div>
    </section>
  </section>
  <div class="container">
    <h1><br> {{fa-icon "phone"}} Tu número asignado es:</h1>
    <div class="line-gray"></div>
    <h1 style="color:#666666"><br>Tu código de <b style="color:#666666">acceso</b> para conferencias es:</h1>
    <br>
  </div>
{{/base-layout}}
