{{#base-layout}}
  <section class="thank-you container-fluid">
    <section class="slider container-fluid">
      <div class="col-sm-5 highlight-image container">
        <img class="img-responsive" src="/assets/images/gordo_tc.png"
        alt="Gracias">
      </div>
      <div class="col-sm-7 highlight">
        <h1>
        ¡Tu número telefónico está <strong>listo!</strong>
        </h1>
        <h2>
          Ya puedes usarlo para tener conferencias ilimitadas con tu equipo.
        </h2>
      </div>
      <div class="col-sm-5 highlight-image visible-xs">
      </div>
    </section>
    <div class="container site-section">
      <h1>Tu número asignado es:</h1>
      <h2 class="result">{{fa-icon "phone"}} {{model.did}}</h2>
      <div class="line-gray"></div>
      <h3>Tu código de acceso para conferencias es:</h3>
      <div class="result code">
        {{fa-icon "lock"}} {{model.conferenceCode}}
      </div>
      <div class="box-social">
          {{#fb-share-button url="http://example.com" quote=conferenceCodeText}}Compartir{{/fb-share-button}}
          {{#twitter-share-button title="Código de acceso" via=conferenceCodeText url="http://example.com" hashtags="#TodosConectados" }}Tweet{{/twitter-share-button}}
          {{#linkedin-share-button title="Código de acceso" text=conferenceCodeText}}Compartir{{/linkedin-share-button}}
          {{#gplus-share-button url="http://example.com"}}Share{{/gplus-share-button}}
      </div>
      <br>
    </div>
  </section>
{{/base-layout}}
